name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        otp_vsn:
          - 'slim'
          - '28.1-slim'
          - '28-slim'
          - '27.3-slim'
          # - '27.2-slim'
          - '27.1-slim'
          - '27-slim'
          - '26.2-slim'
          - '26.1-slim'
          - '26-slim'
    name: 'ci-erl:${{ matrix.otp_vsn }}'
    runs-on: ubuntu-latest
    container:
      image: 'erlang:${{ matrix.otp_vsn }}'
    steps:
      - shell: bash
        run: |
          # NOTE sync with ./Dockerfile.build.sh
          apt-get -y update
          apt-get -y install curl git make

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      # https://github.com/actions/runner/issues/2033
      # https://github.com/actions/checkout/issues/766
      - shell: bash
        run: |
          chown -R "$(id -u):$(id -g)" "${GITHUB_WORKSPACE}"
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
      - shell: bash
        run: make
      - shell: bash
        run: make test
      - if: ${{ matrix.otp_vsn == 'slim' }}
        shell: bash
        run: make check docs

      # PUBLISH TAGS

      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        name: Check is-semver-tag
        id: is-semver-tag
        shell: bash
        run: |
          if [[ ${{ github.event.ref }} =~ ^refs/tags/[0-9]+\.[0-9]+\.[0-9]+ ]]; then
              echo "check=true" >> $GITHUB_OUTPUT
          fi
      - if: ${{ matrix.otp_vsn == 'slim' && steps.is-semver-tag.outputs.check == 'true'}}
        name: Run make publish
        shell: bash
        env:
          HEX_API_KEY: ${{secrets.HEX_API_KEY}}
        run: |
          mkdir -p ~/.config/rebar3
          echo "{plugins, [rebar3_hex]}." > ~/.config/rebar3/rebar.config
          make publish
